.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: red;
  text-align: center;
}

html {
    background-color: black;
}

.submission {
    font-size: medium;
    font: bold;
    background-color: blue;
}

button {
    border-radius: 20px;
}

.submit {
    border-radius: 20px;
}

h1 {
    background-color: blue;
}

h2 {
    background-color: blue;
}

